.btn-default {
  color: #ffffff;
  background-color: #202020;
  border-color: #888888;
  border-width: 2px;
  border-style: outset;
  font-size: 15pt;
  background-image: none;
  text-shadow: none;
}

.btn-default:hover {
  background-color: #888888 !important;
  color: rgb(211, 34, 81) !important;
  border: double 2px;
  border-color: #888888;
}

.thumbnailSelector {
  width: 10%;
  float: left;
  margin-left: 0px;
  height: 100%;
  background-color: #2e2e2e;
}

.thumbnails {
  margin: 0px;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.csthumbnail {
  color: white;
  background-color: black;
  width: 100px;
  height: 100px;
  border: 0px;
  padding: 0px;
}

.version {
  position: absolute;
  bottom: 20px;
  width: 106px;
  text-align: center;
}

a.list-group-item {
  background-color: black;
  padding: 2px;
  border: 1px solid #838383;
  margin-bottom: 6px;
  margin-left: 0px;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #4d4d4d;
  border-color: rgb(211, 34, 81);
}

.viewer-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
