<div style="display: flex; width:100%; height: 100%;">

    <!-- Thumbnail selector -->
    <div class="thumbnailSelector" style="margin-right: 1px;">
        <div class="thumbnails list-group" style="height: 100%;">
            <a *ngFor="let series of seriesList; let i=index" [ngClass]="{'active': currentSeriesIndex === i}" class="list-group-item"
                oncontextmenu="return false" unselectable="on" onselectstart="return false;" onmousedown="return false;"
                (click)="showSeries(i)">
                <div thumbnail [imageData]="series.imageList[0]" class="csthumbnail" oncontextmenu="return false"
                    unselectable="on" onselectstart="return false;" onmousedown="return false;">
                </div>
                <div class="text-center small" style="color:white;">{{series.seriesDescription}}</div>
                <div id="mrtopright" style="position: absolute;top:3px; right:3px">
                    <div id="imageCount" style="color: #e9e9e9; font-size: 14pt;">{{series.imageCount}}</div>
                </div>
            </a>
        </div>
    </div>

    <!-- container where image will be loaded -->
    <div style="overflow: hidden; width: 100%; height: 100%; background-color: #252525;">
        <!-- Toolbar -->
        <div style="border: 2px groove #2c2c2c; scrollbar-width: none;">
            <!-- <a>File</a> | <a>Options</a> PLACEHOLDER -->
            <div class="btn-group" style="margin-left: 32%; margin-bottom: 2px; border: 1px solid #4b4b4b; border-style: inset;">
                <div class="btn-group" *ngIf="enableViewerTools">
                    <!-- Pan -->
                    <button type="button" (click)="enablePan()" class="btn btn-sm btn-default" id='pan_bttn' [ngStyle]="showSelectedTool('Pan')"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Pan"><span class="fa fa-arrows-alt"></span></button>
                    <!-- Zoom -->
                    <button type="button" (click)="enableZoom()" class="btn btn-sm btn-default" id='zoom_bttn' [ngStyle]="showSelectedTool('Zoom')"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Zoom"><span class="fas fa-search-plus"></span></button>
                    <!-- WW/WL -->
                    <button type="button" (click)="enableWindowing()" class="btn btn-sm btn-default" id='windowing_bttn' [ngStyle]="showSelectedTool('Wwwc')"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Windowing"><span class="fa fa-sun"></span></button>
                    <!-- Invert -->
                    <button type="button" (click)="invertImage()" class="btn btn-sm btn-default" data-container='body' id='invert_bttn'
                        data-toggle="tooltip" data-placement="bottom" title="Invert"><span class="fa fa-adjust"></span></button>
                    <!-- Rectangle ROI -->
                    <button type="button" (click)="enableRectangle()" class="btn btn-sm btn-default" id='rectangleroi_bttn' [ngStyle]="showSelectedTool('RectangleRoi')"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Rectangle ROI"><span class="far fa-square"></span></button>
                    <!-- Length measurement -->
                    <button type="button" (click)="enableLength()" class="btn btn-sm btn-default" id='length_bttn' [ngStyle]="showSelectedTool('Length')"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Length"><span class="fas fa-ruler-horizontal"></span></button>
                    <!-- Save data -->
                    <button type="button" (click)="saveToolState()" class="btn btn-sm btn-default" data-container='body' id='export_bttn'
                        data-toggle="tooltip" data-placement="bottom" title="Download Annotation Data"><span class="fa fa-download"></span></button>
                    <!-- Undo Annotation -->
                    <button type="button" (click)="undoAnnotation()" class="btn btn-sm btn-default" data-container='body' id='undo_bttn'
                        data-toggle="tooltip" data-placement="bottom" title="Undo Annotation"><span class="fas fa-undo"></span></button>
                    <!-- Reset Image -->
                    <button type="button" (click)="resetImage()" class="btn btn-sm btn-default" data-container='body' id='reset_bttn'
                        data-toggle="tooltip" data-placement="bottom" title="Reset All Annotations"><span class="fas fa-trash-alt"></span></button>
                </div>
                <div class="btn-group">
                    <!-- Previous Image -->
                    <button type="button" (click)="previousImage()" id="previous_image_bttn"
                        class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" 
                        title="Previous Image"><span class="fa fa-backward"></span></button>
                    <!-- Toggle Play/Stop clip -->
                    <button type="button" *ngIf="enablePlayTools" (click)="togglePlay()" class="btn btn-sm btn-default" [ngStyle]="showPlayStop"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" id="play_bttn">
                        <span class="fa fa-play" title="Play Clip" *ngIf="!this.viewPort.isClipPlaying"></span>
                        <span class="fa fa-stop" title="Stop Clip" *ngIf="this.viewPort.isClipPlaying" style="color:rgb(211, 34, 81);"></span>
                    </button>
                    <!-- Next Image -->
                    <button type="button" (click)="nextImage()" class="btn btn-sm btn-default" id="next_image_bttn"
                        data-container='body' data-toggle="tooltip" data-placement="bottom" title="Next Image"><span class="fa fa-forward"></span></button>             
                    <!-- Stack scroll -->
                    <button type="button" (click)="toggleScroll()" class="btn btn-sm btn-default" [ngStyle]="showButtonToggleEnabled" data-container='body' id='stackscroll_bttn'
                        data-toggle="tooltip" data-placement="bottom" title="Toggle Stack Scroll"><span class="fa fa-bars"></span></button>
                </div>
            </div> 
            <!-- Progress Spinner -->
            <div [ngStyle]="showProgress">
                <mat-spinner style="scrollbar-width: none; float: inline-end; margin-top: 7px; margin-right: 7px;" diameter="35" strokeWidth="3" color="accent"></mat-spinner>
            </div>
        </div>


        <!-- Viewer -->
        <div style="width: 100%; height: calc(100% - 60px); position:relative; display:inline-block; color:white;"
            oncontextmenu="return false" class='cornerstone-enabled-image' unselectable='on' onselectstart='return false;'
            onmousedown='return false;'>
            <div cornerstone style="width: 100%; height: 100%; top:0px; left:0px; position:absolute; outline:none; margin: 0 auto;"
                id="dicomImage">
            </div>
            <div class="viewer-text" id="mrtopright" style="position:absolute; right:3px; top:3x;">
                <div *ngIf="viewPort.patientName != ''">
                    <b>Patient:</b> {{viewPort.patientName}}
                </div>
                <div *ngIf="viewPort.instanceNumber != ''">
                    <b>Instance:</b> {{viewPort.instanceNumber}}
                </div>
            </div>
            <div class="viewer-text" id="mrbottomleft" style="position:absolute; bottom:3px; left:3px">
                <div>
                    <b>WW/WL:</b> {{viewPort.windowingValue}}
                </div>
                <div id="zoomText"><b>Zoom:</b> {{viewPort.zoomValue}}</div>
            </div>
            <div class="viewer-text" id="mrbottomright" style="position:absolute; bottom:6px; right:3px">
                <div id="sliceText"><b>Image:</b> {{(imageCount > 0)?viewPort.currentIndex+1:0}}/{{imageCount}}</div>
            </div>
        </div>


    </div>
</div>
