<div>
  <a aria-label="DeepHealth Home" target="_blank" rel="noopener" href="https://deep.health">
    <img
      width="200"
      alt="DeepHealth Logo"
      src="assets/svg/deephealth.svg"
    />
  </a>
</div>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a aria-label="DeepHealth Home" target="_blank" rel="noopener" href="https://deep.health">
  <img
    width="170"
    alt="DeepHealth Logo"
    src="assets/svg/deephealth.svg"
  />
  </a>
  <div class="spacer"></div>
  <span style="padding-right: 1%;"><b>Welcome, </b> user</span>
</div>


<!-- Main Content -->
<div class="content" role="main">
</div>

<router-outlet></router-outlet>