:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #ddd;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-bottom-width: 0.3em;
  border-bottom-style: inset;
  border-bottom-color: rgb(211, 34, 81);
}

.toolbar img {
  margin: 0 6px;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.toolbar img:hover {
  opacity: 0.6;
}

.choose_file {
  padding: 5px 10px;
  background: rgb(211, 34, 81);
  position: relative;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  float: right;
  cursor: pointer;
  margin: 0 6px;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

.choose_file:hover {
  opacity: 0.6;
}

.hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
