<div *ngIf="authState !== 'signedin'">
  <a aria-label="DeepHealth Home" target="_blank" rel="noopener" href="https://deep.health">
    <img
      width="200"
      alt="DeepHealth Logo"
      src="assets/svg/deephealth.svg"
    />
  </a>
</div>


<amplify-authenticator 
  usernameAlias="email"
  *ngIf="authState !== 'signedin'" 
  [formFields]="formFields">
</amplify-authenticator>

<div *ngIf="authState === 'signedin' && user" class="App"> <!-- START OF AUTH DIV-->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a aria-label="DeepHealth Home" target="_blank" rel="noopener" href="https://deep.health">
  <img
    width="170"
    alt="DeepHealth Logo"
    src="assets/svg/deephealth.svg"
  />
  </a>
  <div class="spacer"></div>
  <span style="padding-right: 1%;"><b>Welcome, </b> {{user.attributes.email}}</span>
  <div style="padding-block: 10px;">
    <amplify-sign-out button-text="Sign Out"></amplify-sign-out>
  </div> 
</div>

<!-- Main Content -->
<div class="content" role="main">
  <amplify-s3-album></amplify-s3-album>
</div>


<router-outlet></router-outlet>

</div> <!-- END OF AUTH DIV-->



