<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a aria-label="DeepHealth Home" target="_blank" rel="noopener" href="https://deep.health">
  <img
    width="170"
    alt="DeepHealth Logo"
    src="assets/svg/deephealth.svg"
    style="padding-top: 2%"
  />
  </a>
  <div class="spacer"></div>
  <span style="padding-right: 1%;"><b>Welcome, </b> user</span>
  <div class="choose_file">
    Choose Your DICOM Files
    <input class="hide_file" type="file" multiple accept="application/dicom" id="images" title="Select your images"
    (change)="loadDICOMImages($event.target.files)">
  </div>
</div>


<!-- Main Content -->
<div style="display: flex; height: 100%; width:100%; margin-top: 4em; height: 860px;">
  <dicom-viewer [enableViewerTools]="true" [enablePlayTools]="false" [maxImagesToLoad]="20" style="height:100%; width:100%; margin: 2px;"></dicom-viewer>
</div>




<router-outlet></router-outlet>